<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="first_num">Subtract this:</label>
  <input type="text" id="first_num" name="FirstNum">

  <label for="second_num">from this:</label>
  <input type="text" id="second_num" name="SecondNum">

  <button>Subtract!</button>
</form>
